/*RESET CSS*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../img/fundo.jpg");
}

/*HEADER*/
header {
    height: 120px;
}
.menu {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 120px;
    float: left;
}

.btns {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.btn {
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 300ms;
}

.btn-cadastro {
    background-color: #EF0000;
}

.btn-requisitos {
    background-color: #3F8FBC
}

.btn-login {
    background-color: #ffe421;
}

.btn:hover {
    filter: brightness(70%);
}
                                        
.btn-cadastro p, .btn-requisitos p, .btn-login p{
    color: #fff;
    text-align: center;
    font-size: 1em;
    flex: 1;
}

/*MAIN*/
main {
    width: 80%;
    margin: 80px auto;
}
main h1 {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
main img{
    width: 100%;
}