.paginaLogin {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    height: calc(100vh - 280px);
    flex-direction: column;
}

.login {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    height: 200px;
    justify-content: space-between;
}

.txt {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.txt h2 {
    color: #EF0000;
    text-align: center;
    font-size: 2.5rem;
}

.txt p {
    color: #3F8FBC;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
}

.erro {
    color: #EF0000;
    margin-top: 10px;
}

input {
    padding: 20px;
    width: 500px;
    margin: 20px 0;
}

.btnAcessar {
    padding: 15px;
    width: 300px;
    margin: 0 auto;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    background-color: #EF0000;
    cursor: pointer;
    border: none;
    transition: 500ms;
}

.btnAcessar:hover {
    background: #3F8FBC;
}